<!--For some snippets; this is more of a clipboard file-->

<!-- Upload audio input-->
<form action="{{ url_for('classify_audio') }}" enctype="multipart/form-data" method="POST">
    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
        <input class="form-control border-0" id="upload" name="file" type="file">
        <label class="font-weight-light text-muted" for="upload" id="upload-label"></label>
        <div class="input-group-append">
            <label class="btn btn-light m-0 rounded-pill px-4" for="upload"> <i
                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                    class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
        </div>
    </div> -->
    
    <!-- Submit button-->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <input class="btn btn-primary my-3" type="submit"/>
            </div>
        </div>
    </div>
</form>